:root {
    --main-color: rgb(70, 126, 210);
    --main-hover-color: rgb(27, 64, 120);
    --text-color: rgb(255, 255, 255);
    --search-bar-btn-color: rgb(224, 224, 224);
    --search-bar-btn-hover: rgb(158, 158, 158);
    --second-color: rgb(10, 82, 190);
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

.navbar {
    width: 100vw;
    height: 60px;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.navbar__content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    margin-left: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__logo-img {
    height: 60%;
    aspect-ratio: 1/1;
    background: url(../assets/abu.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.nav__logo-text {
    margin-left: .3rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--text-color);
}

.nav__searchbar {
    height: 70%;
    width: 30rem;
}

.nav__searchbar .searchbar__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: relative;

}

.searchbar__container .__search-input {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    text-indent: .8rem;
    font-size: 1rem;
    border-radius: 50px;
}

.searchbar__container .__search-input:focus {
    outline: none;
}

.searchbar__container .__search-icon {
    position: absolute;
    height: 80%;
    aspect-ratio: 1/1;
    background: var(--search-bar-btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    border-radius: 50%;
    right: .5rem;
    opacity: .5;
    transition: .3s ease;
    user-select: none;
    color: black;
    font-weight: bold;
}

.searchbar__container .__search-icon:hover {
    background: var(--search-bar-btn-hover);
    opacity: 1;
}

.nav__danhmuc {
    background: transparent;
    height: 100%;
    width: 9rem;
    display: flex;
    flex-direction: column;
}

.nav__danhmuc .danhmuc__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.danhmuc__container .danhmuc__button {
    width: 95%;
    height: 80%;
    color: white;
    background: var(--second-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    user-select: none;
    transition: .3s ease;
}

.danhmuc__container .danhmuc__button:hover {
    background: var(--main-hover-color);
}

.danhmuc__button .icon {
    margin-right: 5px;
}

.nav__account {
    background: transparent;
    width: 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav__account .account__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}

.nav__account:hover .account__container {
    background: var(--main-hover-color);
}

.account__container .account__button {
    width: 100%;
    height: 80%;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    margin-right: 10px;
}

.account__button .icon {
    font-size: 2.6rem;
}

.account__button .account__username {
    background: transparent;
    width: 100px;
    max-width: 100px;
    font-size: .8rem;
    margin-right: 5px;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
}

.account__dropbox {
    width: 100%;
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
}

.account__dropbox:hover ~ .account__container {
    background: var(--main-hover-color);
}

.account__dropbox-item {
    width: 100%;
    height: 45px;
    border-radius: 0;
    background: var(--second-color);
    transition: .3s ease;
    border: 0;
    font-size: .9rem;
}

.account__dropbox-item:hover {
    background: var(--main-hover-color);
    border: 0;
}

.account__dropbox-item:focus {
    outline: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav__danhmuc {
        display: none;
    }

    .nav__searchbar {
        width: 25rem;
    }
}

@media (max-width: 767px) {
    .nav__danhmuc {
        display: none;
    }

    .nav__logo {
        display: none;
    }

    .nav__account {
        display: none;
    }

    .navbar__content {
        justify-content: center;
    }

    .nav__searchbar {
        width: 92%;
    }
}