@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --main-color: rgb(255, 103, 42);
    --main-hover-color: rgb(255, 131, 82);
    --body-color: rgb(231, 231, 231);
    --content-color: rgb(255, 255, 255);
    --shadow: 0 0 5px 1px black;
}

input:focus {
    outline: none;
}

body {
    background: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.accountinfo {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountinfo .accountinfo__container {
    background: var(--content-color);
    width: 70%;
    box-shadow: var(--shadow);
    display: flex;
}

.accountinfo__container .accountinfo__content {
    width: 75%;
    background: var(--content-color);
    border-left: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountinfo__content .accountinfo__title {
    color: gray;
    font-size: 1.5rem;
    width: 100%;
    text-indent: 1rem;
    margin-top: 0.9rem;
}

.accountinfo__content .accountinfo__info {
    margin-top: 2rem;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
}

.accountinfo__info .info__items {
    color: var(--main-color);
    width: 100%;
    text-indent: .8rem;
    margin: .5rem 0;
}

.info__items .info__text {
    color: black;
}

.info-describe__container .info__content {
    background: var(--content-color);
    width: 70%;
    height: 300px;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .6rem;
    border-radius: 5px;
}

.info__content .info__content-text {
    width: 98%;
    height: 96%;
    text-indent: 0;
    text-align: justify;
    background: transparent;
    color: var(--main-color);
}

.info__content-text:focus {
    outline: none;
}

.info-describe__container .desc-buttons {
    width: 70%;
    height: 40px;
    background: transparent;
    margin-top: .4rem;
    margin-left: .6rem;
    border: 2px solid transparent;
    display: flex;
    justify-content: right;
}

.desc-buttons .desc__buttons {
    color: white;
    background: var(--main-color);
    width: 90px;
    text-indent: 0;
    display: flex;
    font-size: .9rem;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    border-radius: 5px;
    user-select: none;
}

.desc-buttons .desc__buttons:hover {
    background: var(--main-hover-color);
}

.desc-buttons .edit-button {
    right: 0;
    opacity: 1;
}


textarea {
    resize: none;
}