@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --main-color: rgb(255, 103, 42);
    --main-hover-color: rgb(255, 131, 82);
    --body-color: rgb(231, 231, 231);
    --content-color: rgb(255, 255, 255);
    --shadow: 0 0 5px 1px black;
    --category-main-color: gray;
    --category-focus-color: rgb(76, 76, 76);
    --category-hover-color: rgb(224, 224, 224);
    --error-color: rgb(255 , 85, 85);
}

input:focus {
    outline: none;
}

body {
    background: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.change-password {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-password .change-password__container {
    background: var(--content-color);
    width: 70%;
    box-shadow: var(--shadow);
    display: flex;
}

.change-password__container .change-password__content {
    width: 75%;
    background: var(--content-color);
    border-left: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-password__content .change-password__title {
    color: gray;
    font-size: 1.5rem;
    width: 100%;
    text-indent: 1rem;
    margin-top: 0.9rem;
    user-select: none;
}

.change-password__main {
    width: 94%;
    display: flex;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.change-error {
    color: var(--error-color);
    margin-top: .8rem;
    width: 94%;
    text-align: left;
    font-size: 1rem;
    user-select: none;
}

.change-password__main {
    display: flex;
    width: 94%;
    flex-direction: column;
    margin-top: 1rem;
}

.change-password__items {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
}

.change-password__items .change-password__items-title {
    color: black;
    font-size: 1.1rem;
    margin-right: 1.2rem;
    user-select: none;
}       

.change-password-input__container {
    display: flex;
    position: relative;
    align-items: center;
}

.aft-pass .change-password__items-title {
    margin-right: .8rem;
}

.change-password__input {
    background: var(--content-color);
    border: 2px solid gray;
    height: 30px;
    border-radius: 5px;
    text-indent: .3rem;
    color: black;
}

.change-pass-check {
    display: none;
}

.for-change-pass {
    color: var(--main-color);
    font-size: 1.6rem;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -2rem;
}

.for-change-pass:hover {
    color: var(--main-hover-color);
}

.change-pass-submit__container {
    width: 100%;
    display: flex;
    justify-content: left;
}

.change-pass-submit__button {
    background: var(--main-color);
    border-radius: 5px;
    color: var(--content-color);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: 1.2rem;
    transition: .3s ease;
    user-select: none;
}

.change-pass-submit__button:hover {
    background: var(--main-hover-color);
}