@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --main-color: rgb(70, 126, 210);
    --main-hover-color: rgb(27, 64, 120);
    --body-color: rgb(231, 231, 231);
    --content-color: rgb(255, 255, 255);
    --shadow: 0 0 5px 1px black;
    --category-main-color: gray;
    --category-focus-color: rgb(76, 76, 76);
    --category-hover-color: rgb(224, 224, 224);
}

input:focus {
    outline: none;
}

body {
    background: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.security-page {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.security-page .security-page__container {
    background: var(--content-color);
    width: 70%;
    box-shadow: var(--shadow);
    display: flex;
}

.security-page__container .security-page__content {
    width: 75%;
    background: var(--content-color);
    border-left: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.security-page__content .security-title {
    color: gray;
    font-size: 1.5rem;
    width: 100%;
    text-indent: 1rem;
    margin-top: 0.9rem;
    user-select: none;
}

.security-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.security-categories .security-items {
    width: 100%;
    transition: .3s ease;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

.security-items:hover {
    background: var(--category-hover-color);
}

.security-items .sec-items__name {
    width: 100%;
    text-align: left;
    text-indent: 1.2rem;
    font-size: 1.4rem;
    color: gray;
    user-select: none;
}

.sec-items__name .icon {
    font-size: 2rem;
}

.security-items .sec-items__desc {
    color: gray;
    font-size: .8rem;
    width: 94%;
    text-align: left;
    margin-top: 1rem;
    user-select: none;
}
